{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/lib.html' as lib with context %}
{% extends 'admin/base.html' %}

{% block head_tail %}
  {{ super() }}
  <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet"/>
  <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block page_body %}
<div class="container-fluid">
	{% if current_user.is_authenticated %}
	<div class="row-fluid">
		<nav class="navbar navbar-nav">
			<ul class="nav nav-pills">
				{{ layout.menu() }}
				{{ layout.menu_links() }}
				{% block access_control %}
					<li class="clearfix float-right">
						<a  href="{{ url_for('admin.logout_view') }}">Log out</a>
					</li>
					{% endblock %}
				</ul>
			</nav>
		</div>
		{% endif %}
  <div class="row-fluid">
		<div class="col-lg-11 col-md-10 col-sm-8 col-xs-6 fill">
			{% if current_user.is_authenticated %}
				<div id="content" class="row">
			{% else %}
					<div id="content-unauthorized" class="row">
			{% endif %}
				{{ layout.messages() }}

				{% set render_ctx = h.resolve_ctx() %}

				{% block body %}{% endblock %}
			</div>

		</div>
	</div>
</div>
{% endblock %}


{% macro export_options(btn_class='dropdown-toggle') %}
    {% if admin_view.export_types|length > 1 %}
    <li class="dropdown">
        <a class="{{ btn_class }}" data-toggle="dropdown" href="javascript:void(0)">
            {{ _gettext('Export') }}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu field-filters">
            {% for export_type in admin_view.export_types %}
            <li>
                <a href="{{ get_url('.export', export_type=export_type, **request.args) }}" title="{{ _gettext('Export') }}">{{ _gettext('Export') + ' ' + export_type|upper }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
	<a class="btn btn-title" href="{{ get_url('.export', export_type=admin_view.export_types[0], **request.args) }}" title="{{ _gettext('Export') }}">{{ _gettext('Export') }}</a>
    {% endif %}
{% endmacro %}

{% macro import_options(btn_class='dropdown-toggle') %}

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		{{ _gettext('Import') + ' ' + admin_view.import_types[0]}}
	</button>

	  <!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Import</h3>
				</div>
			<div class="modal-body">
				<div>
					<p> Make sure that your upload file has the following exact columns: </p>
					<code>
						Subject, Topic, Knowledge item, Question, Option A,
						Option B, Option C, Option D, Correct, Tag, Feedback A,
						Feedback B,Feedback C,Feedback D
					</code>
					<br/>
					<p>The <code>Option</code> and <code>Feedback</code> column type can have a minimum of one multiplicity. </p>
					<br />
				</div>
				<form id="import_data_form" action="{{ get_url('.import_')}}" enctype="multipart/form-data" method="post">
					<div class="form-group">
						<label for="file_input">Select a file to import: </label>
						<input type="file" class="form-control-file" id="file_input" name="file" accept=".csv" />
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Import</button>
				</form>
			</div>
			</div>
		</div>
	</div>
{% endmacro %}
