<template>
  <v-container fluid>
    <v-flex xs12 sm12 md12 lg12>
      <v-row>
        <v-col cols="9">
          <v-sheet class="grey lighten-3">
            <div class="w-100" id="search_box">
              <v-text-field
                label="Search for a question..."
                placeholder="Use the * to view all questions..."
                @click:prepend-inner="searchEventListener"
                prepend-inner-icon="search"
                @keypress.enter="searchEventListener"
                v-model="searchInput"
                solo
              >
                <template v-slot:append>
                  <span>
                    <v-icon @click="toggleFilterView">mdi-filter-variant</v-icon>
                    <v-badge
                      color="primary lighten-1"
                      offset-x="0.2rem"
                      offset-y="0.4rem"
                      dot
                      left>
                    </v-badge>
                  </span>
                </template>
              </v-text-field>
              <div :class="'w-25 ' + ($vuetify.breakpoint.mobile ? 'filter_container--mobile' : 'filter_container' )">
                <v-card class="white m-0 question_search_filter" min-width="100px" v-show="showFilter">
                  <v-card-title>
                    <span>Filters</span>
                    <v-spacer></v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <v-select
                      :items="subjects"
                      small-chips
                      label="Subject"
                      class="text-caption"
                      v-model="subject"
                      @change.capture="fetchTopics(subject)"
                      />
                      <v-select
                          :items="topics"
                          multiple
                          small-chips
                          @change="fetch_KIs()"
                          label="Topic"
                          class="text-caption p-2"
                          v-model="selectedTopic"
                          dense>
                          <template v-slot:selection="{ item, index }">
                            <v-chip x-small v-if="index === 0">
                              <p style="max-width: 16ch;" class="text-caption text-truncate font-weight-bold pt-4">{{ item }}</p>
                            </v-chip>
                            <span
                              v-if="index === 1"
                              class="grey--text text-caption"
                            >
                              (+{{ selectedTopic.length - 1 }} others)
                            </span>
                          </template>
                      </v-select>
                      <v-select
                        :items="knowledgeItems"
                        multiple
                        small-chips
                        label="Topic contents"
                        class="text-caption p-2"
                        :style="'overflow: scroll-y;'"
                        v-model="selectedKnowledgeItems"
                        max-height="70px"
                        width="70px"
                        hide-details
                        :menu-props="{ maxHeight: '200' }"
                        dense
                        >
                        <template v-slot:selection="{ item, index }">
                          <v-chip x-small v-if="index === 0">
                            <v-tooltip bottom>
                              <template v-slot:activator="{ on, attrs }">
                                <p
                                  style="max-width: 16ch;"
                                  v-bind="attrs"
                                  v-on="on"
                                  class="text-caption text-truncate font-weight-bold pt-4">{{ item }}</p>
                              </template>
                              <span>{{ item }}</span>
                            </v-tooltip>
                          </v-chip>
                          <span
                            v-if="index === 1"
                            class="grey--text text-caption"
                          >
                            (+{{ selectedKnowledgeItems.length - 1 }} others)
                          </span>
                        </template>
                      </v-select>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" class="text-caption font-semibold" @click.stop="showFilter=false">Apply Filters</v-btn>
                    <v-btn color="warning darken-1" class="text-caption black--text font-semibold" @click.stop="showFilter=false">Close</v-btn>
                  </v-card-actions>
                </v-card>
              </div>
            </div>
            <v-responsive
              class="overflow-y-auto"
              :max-height.sync="listHeight">
              <div class="mt-2 mb-n4">
                <span v-show="showQuestionResults || showNoDataText" class="mt-n2 mb-n4">
                  <v-btn
                    color="white grey--text"
                    @click="hasSearchResult = false"
                    fab
                    small
                    elevation="0"
                    dark>
                    <h1 class="heading-1" >&times;</h1>
                  </v-btn>
                </span>
              </div>
              <div max-height="500" v-show="showQuestionResults">
                <div v-for="(question, idx) in questionSearchList" :key="idx">
                  <v-lazy
                    v-model="question.isActive"
                    :options="{
                      threshold: .5
                    }"
                    :min-height.sync="itemHeight"
                    transition="fade-transition">
                    <div class="white py-3 px-3">
                      <v-row>
                        <v-col cols="10">
                          <h4>{{ question.question }}</h4>
                            <v-chip color="green lighten-5 text-truncate text-center" class="mx-1" small>{{question.topic.value}}</v-chip>
                            <v-chip color="pink lighten-5 text-truncate text-center" class="mx-1" small>{{question.knowledge_item.value}}</v-chip>
                          </v-col>
                        <v-col cols="2">
                          <v-btn color="white" elevation="0" @click="editItem({ item: question })">
                            <v-icon small>mdi-pencil</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                      <v-spacer></v-spacer>
                    </div>
                  </v-lazy>
                </div>
              </div>
              <div v-show="showNoDataText" min-height="350" height="350" class="pt-2 white black--text">
                <div class="pa-4">
                  <p class="pt-1 mb-1 text-body text--secondary leading-4 black--text" >No results found!</p>
                </div>
              </div>
            </v-responsive>
           </v-sheet>
        </v-col>
        <v-col cols="3">
          <router-link to="/question/create" >
            <v-btn color="primary" v-if="!isMobile" class="float-right mx-4" dark>Create a question</v-btn>
            <v-btn color="primary" v-if="isMobile" class="float-right my-n2" dark fab>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </router-link>
        </v-col>
        </v-row>
        <v-row>
        <v-col>
          <material-card>
            <template v-slot:header>
              <div class="px-3 d-flex align-center">
                <h4 class="title font-weight-light mb-2">Question Lists</h4>
                <v-spacer></v-spacer>

              </div>
            </template>
            <div>
              <question-search-result
                :resultSet='this.questionList'
                :selectable='false'
                :show_user_created_badge='false'
                no_data_text='User library is empty 📭'
              >
                <template v-slot:extra_actions="itemSlotProps">
                  <v-icon
                    medium
                    class="m-2"
                    @click.stop.capture="openDeleteConfirmationDialog(itemSlotProps)"
                  >
                    mdi-trash-can-outline
                  </v-icon>
                  <v-icon medium class="m-2" @click.stop="editItem(itemSlotProps)">
                    mdi-pencil
                  </v-icon>
                </template>
              </question-search-result>
            </div>
          </material-card>
        </v-col>
      </v-row>
      <v-dialog
        v-model="deleteConfirmationDialog"
        scrollable
        persistent
        :overlay="false"
        max-width="500px"
        transition="dialog-transition"
      >
        <material-card title="⚠ Deleting this question is irreversible.">
          <v-card-text>
            <h3 class="mx-5"> Are you sure you want to delete the question? </h3>
          </v-card-text>

          <v-card-actions>
            <v-btn color="primary" @click="processDeletion()">Delete</v-btn>
            <v-btn color="error" @click="deleteConfirmationDialog = false">Cancel</v-btn>
          </v-card-actions>
        </material-card>
      </v-dialog>
    </v-flex>
  </v-container>
</template>
<script>

import MaterialCard from '@/components/MaterialCard'
import QuestionSearch from '@/components/QuestionSearch'
import QuestionSearchResult from '@/components/QuestionSearchResult'
import { createNamespacedHelpers } from 'vuex'

const { mapActions, mapGetters, mapMutations } = createNamespacedHelpers('questions')
const { mapActions: classroomAction } = createNamespacedHelpers('classrooms')
const { mapGetters: appGetters, mapActions: appActions, mapMutations: appMutations } = createNamespacedHelpers('app')

export default {
  name: 'Questions',
  components: {
    MaterialCard,
    QuestionSearch,
    QuestionSearchResult
  },
  mounted: function () {
    this.resetQuestionSearch()
    this.fetchQuestions()
    this.fetchClasses()
    this.resetQuestions()
  },
  created: function () {
    // re-calc on screen resize
    window.addEventListener('resize', () => {
      this.calcRowsPerPage()
    })
  },
  data: function () {
    return {
      subject: '',
      selectedTopic: [],
      selectedKnowledgeItems: [],
      knowledgeItems: [],
      searchInput: '',
      hasSearchResult: false,
      showFilter: false,
      user_created: false,
      deleteConfirmationDialog: false,
      deletableItemId: null,
      rpp: 3
    }
  },
  watch: {
    getKis: function (val) {
      this.knowledgeItems = []
      this.knowledgeItems = this._.flatten(this._.values(this.getKis)).sort()
    }
  },
  computed: {
    ...appGetters({
      unsortedTopics: 'getTopics',
      getSubjects: 'getSubjects',
      getKis: 'getKis',
      questionSearchList: 'getQuestionResult',
      getError: 'getError'
    }),
    ...mapGetters({
      questionList: 'QUESTIONLIST'
    }),
    topics: function () {
      return this.unsortedTopics.sort()
    },
    listHeight: function () {
      return (this.itemHeight * this.rowsPerPage) + 50
    },
    showQuestionResults: function () {
      return this.hasSearchResult && this.questionSearchList.length > 0
    },
    subjects: function () {
      const enabledSubjects = this._.filter(this.getSubjects, ['enabled', true])
      return this._.map(enabledSubjects, 'name').sort()
    },
    showNoDataText: function () {
      return this.hasSearchResult === true && this.questionSearchList.length === 0
    },
    rowsPerPage () {
      return this.rpp
    },
    itemHeight () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 50
        case 'sm': return 50
        case 'md': return 75
        case 'lg': return 100
        case 'xl': return 150
      }
    }
  },
  methods: {
    ...appActions({
      fetch_topics: 'FETCH_TOPICS',
      fetchKis: 'FETCH_KIS'
    }),
    ...appMutations({
      resetQuestionSearch: 'RESET_QUESTION_SEARCH',
      resetKis: 'RESET_KIS'
    }),
    fetchTopics () {
      this.selectedTopic = []
      this.fetch_topics(this.subject)
    },
    isMobile () {
      return this.$vuetify.mobile
    },
    questionTypeMapping (type) {
      const types = {
        1: 'Multiple Choice',
        2: 'Short Answer',
        3: 'Long Answer'
      }
      return types[type]
    },
    calcRowsPerPage () {
      const container = document.getElementById('search_result')
      const minItemHeight = 170
      if (container) {
        const containerHeight = parseInt(container.clientHeight, 0)
        this.rpp = Math.floor(containerHeight / minItemHeight)
      } else {
        this.rpp = 4
      }
    },
    ...mapActions({
      fetchQuestions: 'GETQUESTIONS',
      deleteQuestion: 'DELETEQUESTION'
    }),
    ...classroomAction({
      fetchClasses: 'GETCLASSES'
    }),
    ...mapMutations({
      setCurrentQuestion: 'SET_CURRENTQUESTION',
      resetQuestions: 'RESET_QUESTIONS'
    }),
    fetch_KIs: function () {
      const payload = {
        topics_selected: this.selectedTopic
      }
      // this.resetKis()
      this.$store.dispatch('app/FETCH_KIS', payload, { root: true })
    },
    openDeleteConfirmationDialog (e) {
      this.deletableItemId = e.item.id
      this.deleteConfirmationDialog = true
    },
    searchEventListener () {
      this.resetQuestionSearch()
      this.searchInput = this.searchInput.trim()
      this.$store.dispatch('app/QUERY_QUESTIONS', {
        query: this.searchInput,
        subject: this.subject,
        topic: this.selectedTopic,
        knowledge_item: this.selectedKnowledgeItems
      }, { root: true })
      this.hasSearchResult = true
    },
    processDeletion () {
      this.deleteQuestion(this.deletableItemId)
      setTimeout(() => {
        this.deleteConfirmationDialog = false
      }, 200)
    },
    editItem (item) {
      this.setCurrentQuestion(item.item)
      this.hasSearchResult = false
      this.$router.push('/question/edit')
    },
    populateSearchResult (e) {
      this.hasSearchResult = true
    },
    toggleFilterView () {
      this.showFilter = !this.showFilter
    }
  }
}
</script>

<style scoped>
.question_search_filter {
  z-index: 100 !important;
  position: relative !important;
  top: 0 !important;
}
.filter_container {
  max-width: 15rem;
  position: absolute;
  left: 60vw;
  top: 16vh;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.filter_container--mobile {
  max-width: 100vw;
  position: relative;
  left: 1vw;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
}

</style>
