<template>
  <v-container grid-list-xs>
    <v-flex>
    </v-flex>
  </v-container>
</template>

<script>
import StudentList from '@/components/StudentList.vue'
export default {
  name: 'Students',
  components: {
    StudentList
  }
}

</script>
