<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
  </head>
  <body>
        <div>
            <h1> Report Card </h1>
            <p>Name: {{student_name}}</p>
        </div>
      <table>
            <thead>
                <tr>
                <th class="text-left">Topic</th>
                <th class="text-left">Knowledge items</th>
                <th class="text-left">Progress</th>
                <th class="text-left">Learning resources</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    {% for idx, knowledge_item in enumerate(report["knowledge_item"])%}
                    <tr>
                        {% if idx == 0 %}
                            <td class="tg-cly1" rowspan="{{ report['knowledge_item']|length }}">{{ report['topic'] }}</td>
                        {% endif %}
                        <td class="tg-0lax">{{ knowledge_item}}</td>
                        <td class="{{ highlight_progress(report['progress'][idx]) }}">{{ report["progress"][idx] }}</td>
                        <td class="tg-0lax">{{ render_quill_delta(json_loads(report["feedback"][idx])) }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
      </table>
  </body>
