<template>
    <v-card>
        <v-card-title>
            <p class="display-3 text--primary">Privacy Policy</p> <br />
        </v-card-title>
        <v-card-subtitle>
            <small>Last updated: January 13, 2020</small>
        </v-card-subtitle>
        <v-card-text>
            <div>
                <p class="text--primary">ZenTeach (“us”, “we”, or “our”) operates the ZenTeach website (the “Service”).
                This page informs you of our policies regarding the collection, use and disclosure of
                Personal Information when you use our Service.
                We will not use or share your information with anyone except as described in this
                Privacy Policy.</p>
                <p class="text--primary">We use your Personal Information for providing and improving the Service. By using
                the Service, you agree to the collection and use of information in accordance with
                this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy
                Policy have the same meanings as in our Terms and Conditions, accessible at
                http://zenteach.co.uk</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Information Collection And Uses</p>
                <h3 class="font-weight-bold text--primary">Teacher member.</h3>
                <p class="text--primary">While using our Service, we may ask you to provide us with certain personally
                identifiable information that can be used to contact or identify you. Personally
                identifiable information (“Personal Information”) may include, but is not limited to:</p>
                <ul>
                    <li><p class="text--primary">Your name (compulsory)</p></li>
                    <li><p class="text--primary">Your email address (compulsory)</p></li>
                    <li><p class="text--primary">Your school name (compulsory)</p></li>
                    <li><p class="text--primary">Students’ names (compulsory)</p></li>
                    <li><p class="text--primary">Students’ email addresses (compulsory)</p></li>
                    <li><p class="text--primary">Students’ classes (compulsory)</p></li>
                    <li><p class="text--primary">Subgroup data such as SEN, FSM, PP etc… (not compulsory)</p></li>
                </ul>
                <p class="text--primary">It is the responsibility of each Customer being the educational establishment or an
                individual teacher to ensure that any student to whom they intend provide with a
                login (including, without limitation, students under the age of 13) have, before any
                such login is provided, obtained all necessary consents and permissions (from a
                parent and/or guardian) to use the Platform and for us to collect and process any
                user data.</p>
                <p class="text--primary">You are also reminded that upon a student attaining the age of 13 there is a legal
                requirement to retake consent directly from the student and we require the relevant
                School to secure that consent.</p>
                <p class="text--primary">As a Teacher user you acknowledge and warrant that you have and will provide all
                requisite authority from, and on behalf of, the student including where relevant the
                parent/guardian of the student and on behalf of the educational establishment to (i)
                for you to provide the Platform and make it available to student users; (ii) allow the
                student to use the Platform and (iii) and to make any User Data available to us in
                connection with the use of the Platform on the terms set out in our terms and
                conditions and this privacy policy.</p>
                <h3 class="text--primary">What is the lawful basis for storing this information?</h3>
                <p class="text--primary">This information is needed for teachers and students to be able to use the ZenTeach
                platform for online testing and revision, which is the core of ZenTeach’s service.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Log Data</p>
                <p class="text--primary">We collect information that your browser sends whenever you visit our Service (“Log
                Data”). This Log Data may include information such as your computer’s Internet
                Protocol (“IP”) address, browser type, browser version, the pages of our Service that
                you visit, the time and date of your visit, the time spent on those pages and other
                statistics.</p>
                <p class="text--primary">The information is stored on ZenTeach’s servers in data centres in Ireland, provided
                by Amazon Web Services (AWS). AWS data centres are compliant with the
                international information security standard, ISO 27001.</p>
                <p class="text--primary">For more information about AWS’s ISO 27001 certification, please visit this
                webpage:
                https://aws.amazon.com/compliance/iso-27001-faqs/</p>
                <p class="text--primary">For more information about AWS security, please visit this webpage:
                https://aws.amazon.com/security/</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Cookies</p>
                <p class="text--primary">Cookies are files with small amount of data, which may include an anonymous
                unique identifier. Cookies are sent to your browser from a web site and stored on
                your computer’s hard drive.</p>
                <p class="text--primary">We use “cookies” to collect information. You can instruct your browser to refuse all
                cookies or to indicate when a cookie is being sent. However, if you do not accept
                cookies, you may not be able to use some portions of our Service.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Service Providers</p>
                <p class="text--primary">We may employ third party companies and individuals to facilitate our Service, to
                provide the Service on our behalf, to perform Service-related services or to assist us
                in analyzing how our Service is used.</p>
                <p class="text--primary">These third parties have access to your Personal Information only to perform these
                tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Security</p>
                <p class="text--primary">The security of your Personal Information is important to us, but remember that no
                method of transmission over the Internet, or method of electronic storage is 100%
                secure. While we strive to use commercially acceptable means to protect your
                Personal Information, we cannot guarantee its absolute security.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Links To Other Sites</p>
                <p class="text--primary">Our Service may contain links to other sites that are not operated by us. If you click
                on a third party link, you will be directed to that third party’s site. We strongly advise
                you to review the Privacy Policy of every site you visit.</p>
                <p class="text--primary">We have no control over, and assume no responsibility for the content, privacy
                policies or practices of any third party sites or services.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Children’s Privacy</p>
                <p class="text--primary">Our Service does not address anyone under the age of 18 (“Children”).</p>
                <p class="text--primary">We do not knowingly collect personally identifiable information from children under
                18. If you are a parent or guardian and you are aware that your child has provided us
                with Personal Information, please contact us. If we discover that a child under 18 has
                provided us with Personal Information, we will delete such information from our
                servers immediately.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Compliance With Laws</p>
                <p class="text--primary">We will disclose your Personal Information where required to do so by law or
                subpoena.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Changes To This Privacy Policy</p>
                <p class="text--primary">We may update our Privacy Policy from time to time. We will notify you of any
                changes by posting the new Privacy Policy on this page.</p>
                <p class="text--primary">You are advised to review this Privacy Policy periodically for any changes. Changes
                to this Privacy Policy are effective when they are posted on this page.</p>
            </div>
            <div>
                <p class="display-1 font-weight-medium text--primary">Contact Us</p>
                <p class="text--primary">If you have any questions about this Privacy Policy, please contact us.</p>
            </div>
        </v-card-text>
    </v-card>

</template>

<script>
export default {
  name: 'PrivacyPolicy'
}
</script>
