<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.5.1/tailwind.min.css">
  </head>
  <body>
    <div class="container mx-auto flex-auto content-center">
        <div class="box-content bg-gray-200">
            <img src="https://svgshare.com/i/Mxo.svg" class="object-contain h-48 w-full"/>
        </div>

        <div class="mx-2 my-2">
        <p class="text-xl">Hi,</p>
        <p>Please reset your password through the link below: </p>
        <a class="cursor-pointer underline text-blue-600 visited:text-purple-600" href="{{ recovery_link }}">Reset my password</a>
        </div>
        <footer class='pt-8 w-full h-96 mx-2 pin-b'>
          Your Zenteach team
        </footer>
    </div>
  </body>
</html>
