<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.5.1/tailwind.min.css">
  </head>
  <body>
    <div class="container mx-auto flex-auto content-center">
        <div class="box-content bg-gray-200">
            <img src="https://svgshare.com/i/Mxo.svg" class="object-contain h-48 w-full"/>
        </div>

        <div class="mx-2 my-2">
        <p class="text-xl">Hi {{full_name}},</p>
        <p>Please confirm your email through the link below: </p>
        <button class="bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <a href="{{ confirmation_link }}">Confirm my account</a>
        </button>
        </div>
        <footer class='pt-8 w-full h-96 mx-2 pin-b'>
          Your Zenteach team
        </footer>
    </div>
  </body>
</html>
