<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.5.1/tailwind.min.css">
  </head>
  <body>
    <div class="container mx-auto flex-auto content-center">
        <div class="box-content bg-gray-200">
            <img src="https://svgshare.com/i/Mxo.svg" class="object-contain h-48 w-full"/>
        </div>

        <div class="mx-2 my-2">
          <p class="text-xl">Hi there,</p>
          <p>Yay! {{inviter}} has sent you an invite code. You can use it by:</p>
          <ul class="list-disc md:list-disc p-2">
            <li>Visting our <a class="cursor-pointer underline text-blue-600 visited:text-purple-600" href="{{client_url}}">Sign up page</a></li>
            <li>Filling out all the information.</li>
            <li>And finally using your invite code <span class='bg-gray-400 px-2 w-64 text-xl'>{{invite_token}}</span>.</li>
          </ul>

        </div>
        <footer class='pt-8 w-full h-96 mx-2 pin-b'>
            Your Zenteach team
        </footer>
    </div>
  </body>
</html>
