<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content=
  "width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="manifest" href=
  "<%= BASE_URL %>site.webmanifest">

  <title>Zenteach Portal</title>
  <link rel="stylesheet" href=
  "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
  type="text/css">
  <link rel="stylesheet" href=
  "https://fonts.googleapis.com/css?family=Material+Icons" type=
  "text/css">
  <link rel="stylesheet" href=
  "https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
  type="text/css">
</head>

<body>
  <noscript><strong>We're sorry but zenteach-src doesn't work
  properly without JavaScript enabled. Please enable it to
  continue.</strong> <img src=
  "https://api.swetrix.com/log/noscript?pid=kD89T30fL6X0" alt=""
  referrerpolicy="no-referrer-when-downgrade"></noscript>

  <div id="app"></div><!-- built files will be auto injected -->
  <script src="https://swetrix.org/swetrix.js" defer type=
  "text/javascript">
</script><script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
          swetrix.init('kD89T30fL6X0')
          swetrix.trackViews()
      })
  </script>
</body>
</html>
