{% extends 'admin/model/create.html' %}

{% block body %}
	<h2 id="brand">Create {{ admin_view.name|capitalize }}</h2>
	<div class="clearfix"></div>
	<hr>
  {% call lib.form_tag(form) %}
      {{ lib.render_form_fields(form, form_opts=form_opts) }}
      <div class="col-md-offset-2 col-md-10 submit-row">
        <input type="submit" class="btn btn-primary" value="{{ _gettext('Save') }}" />
        <input type="button" class="btn btn-danger" onclick="window.location='{{ return_url }}'" value="cancel"/>
      </div>
  {% endcall %}
{% endblock %}
