{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
	{% if current_user.is_authenticated %}
		<div class="col-md-8">
			<p class="lead">
				Welcome!
			</p>
		{% else %}
	<div class="wrapper fadeInDown">
		<div id="formContent">
		  <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            	<div class="form-group">
					<!-- {{ f.label }} -->
					{{ f }}
					{% if f.errors %}
					<p class="has-error"> {{ f.errors }}</p>
					{% endif %}
            	</div>
            {% endfor %}
            <input class="fadeIn fourth" type="submit" value="Login"/>
        </form>

		  <div id="formFooter">
			Zenteach Admin Portal &COPY; 2021
		  </div>

		</div>
	  </div>
	  {% endif %}
{% endblock body %}
