{% extends 'admin/file/modals/form.html' %}
{% import 'admin/lib.html' as lib %}

{% block body %}
  {# content added to modal-content #}
  <div class="modal-header">
    {% block header %}<h3>{{ header_text }}</h3>{% endblock %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    {% block fa_form %}
      {% call lib.form_tag(url_for('.import_', import_type='csv')) %}
        <fieldset>
            <label for="File Input">Import File:</label>
            <input name="import_file" type="file" accept=".csv"/>
        </fieldset>
      {% endcall %}
    {% endblock %}
  </div>
{% endblock %}

{% block tail %}
  <script src="{{ admin_static.url(filename='admin/js/bs4_modal.js', v='1.0.0') }}"></script>
{% endblock %}
